<mat-card layout layout-margin>

<h3>Ενδιαφέροντα και θέματα</h3>

<p>ΜΑΘΗΜΑΤΑ ΧΟΡΟΥ, ΠΑΡΑΣΤΑΣΕΙΣ ΧΟΡΟΥ, ΠΑΡΤΥ, ΑΞΕΧΑΣΤΕΣ ΣΤΙΓΜΕΣ</p>

<h3>Περιγραφή</h3>
<p>
  Ο Χορευτικός Όμιλος αποτελεί έναν από τους δημοφιλέστερους ομίλους του Πανεπιστημίου μας, ο οποίος λειτουργεί από το 1992! Στα πλαίσια των στόχων του ομίλου, δημιουργήθηκε το Συγκρότημα Ομίλου, το οποίο
  εκπροσωπεί το Πανεπιστήμιο, αλλά και την Κύπρο, σε διάφορες εκδηλώσεις εντός και εκτός της χώρας. Πέραν του Χορευτικού Συγκροτήματος, στο οποίο συμμετέχει περιορισμένος αριθμός φοιτητών, ο Όμιλος προσφέρει τη δυνατότητα
  σε όλους του φοιτητές να εγγραφούν στα Χορευτικά Τμήματα του ομίλου, στα οποία διδάσκονται από έμπειρους και πτυχιούχους επαγγελματίες χοροδιδασκάλους ένα ευρύ φάσμα χορών. Ο Χορευτικός Όμιλος στα είκοσι τέσσερα χρόνια
  λειτουργίας του κατάφερε να συμβάλει ουσιαστικά στην ενίσχυση της φοιτητικής ζωής και να προσελκύσει ένα αξιοζήλευτο αριθμό ενεργών μελών.
</p>
<p><strong>Αν σας αρέσει η διασκέδαση... Αν λατρεύετε το χορό... Αν χρειάζεστε μια ευχάριστη απόδραση από τις ακαδημαϊκές σας υποχρεώσεις... Σας προτείνουμε να ενταχθείτε στον Όμιλό μας!!</strong></p>

</mat-card>

  <mat-card>
<h3><strong>Λειτουργούν τμήματα χορού που ικανοποιούν όλα τα γούστα:</strong></h3>
<ul>
  <li>Ελληνικοί Λαϊκοί</li>
  <li>Κυπριακοί Παραδοσιακοί</li>
  <li>Latin Dance</li>
  <li>Tango</li>
  <li>Street Dance (Hip-Hop)</li>
  <li>Belly Dance</li>
  <li>Βreakdance</li>
  <li>Μπαλέτο</li>
  <li>Σύγχρονος χορός</li>
  <li>Flexibility</li>
</ul>

<p><strong>Μειωμένες τιμές ειδικά για τους φοιτητές!!!</strong></p>
  </mat-card>

