<mat-toolbar>Gallery </mat-toolbar>

<div fxLayout="row wrap">


    <mat-card class="example-card">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>IEEE DAY 2018</mat-card-title>
      
        </mat-card-header>
        <img mat-card-image src="../../assets/gallery_img/pic1.jpg" alt="IEEE DAY 2018">
        <mat-card-content>
          <p>
            Παρουσίαση κυπριακού προγράμματος κατά την διάρκεια της εκδήλωσης
            IEEE DAY 2018 του Πανεπιστημίου Κύπρου, στις 5 Οκτωβρίου.
          </p>
        </mat-card-content>
      
      </mat-card>
      
      <mat-card class="example-card">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>2nd Chinese Cultural Festival</mat-card-title>
      
        </mat-card-header>
        <img mat-card-image src="../../assets/gallery_img/pic2.jpg" alt="chinese">
        <mat-card-content>
          <p>
            Ο Χορευτικός Όμιλος Πανεπιστημίου Κύπρου παρεβρέθηκε την περασμένη Κυριακή και Δευτέρα,
            30 Σεπτεμβρίου και 1η Οκτωβρίου, στο δεύτερο φεστιβάλ κινέζικης κουλτούρας, στο Κηποθέατρο Λεμεσού,
            παρουσιάζοντας χορούς από την κυπριακή και ελληνική παράδοση. Το φεστιβάλ διοργανώνεται εδώ και δύο
            χρόνια από το ινστιτούτο Confucius του Πανεπιστημίου Κύπρου με σκοπό να αναδείξει την κινέζικη κουλτούρα.
            Η πρόσκληση αυτή μας τιμά ιδιαίτερα και μας έδωσε την χαρά και την ευκαιρία να γνωρίσουμε από κοντά την
            φιλοξενία και την καλοσύνη αυτού του λαού.
          </p>
        </mat-card-content>
      
      </mat-card>
      
      <mat-card class="example-card">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>Information Day</mat-card-title>
      
        </mat-card-header>
        <img mat-card-image src="../../assets/gallery_img/pic3.jpg" alt="XO">
        <mat-card-content>
          <p>
            Σήμερα 29/08/2018 ο Χορευτικός Όμιλος βρίσκετε στο προαύλιο του Πανεπιστημίου Κύπρου!
            Κοπιάστε για περισσότερες πληροφοριες σχετικά με τους Ομίλους μας,
            το συγκρότημα και πολλα αλλα!!
          </p>
        </mat-card-content>
      
      </mat-card>
      
      
      <mat-card class="example-card">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>Θεοατροχορευτική Παράσταση 2018</mat-card-title>
      
        </mat-card-header>
        <img mat-card-image src="../../assets/gallery_img/pic4.jpg" alt="XO">
      
        <mat-card-content>
          <p>
            Για αλλη μία χρονιά η αυλαία έχει πέσει με επιτυχία και πολλά χαμόγελα! Χαμόγελα απο εσάς που προκάλεσαν χαμόγελα
            στα δικά μας πρόσωπα που καταφέραμε και φέτος να σας προσφέρουμε αυτο που ζητούσατε!
            Μην ξεχνάτε ότι ο Χορευτικός Όμιλος αποτελείται απο εσας, τα αγαπητά μας μέλη και χωρίς εσάς δεν μπορεί να πάρει
            τις διαστάσεις και την έκταση που έχει εδώ και χρόνια!
            Γι' αυτό το λόγο, λοιπόν, ας συνεχίσουμε αυτήν τη χρονιά πιο δυναμικά με την προετοιμασία της επόμενης
            μας παράστασής που θα πραγματοποιηθεί στις 26 και 27 Απριλίου στο Σατιρικό Θέατρο με τη συμμετοχή όλων των
            χορευτικών τμημάτων που λαμβάνουν χώρο στο Πανεπιστήμιο μας!
            #danceclubucy #ucyclubs #ucy #xo
          </p>
        </mat-card-content>
      
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div class="example-header-image"></div>
          <mat-card-title>Εμπορικό Κέντρο Έγκωμης</mat-card-title>
      
        </mat-card-header>
        <img mat-card-image src="../../assets/gallery_img/pic5.jpg" alt="XO">
        <mat-card-content>
          <p>
            Ο Χορευτικός Όμιλος με αφορμή μία χριστουγεννιάτικη φιλανθρωπική εκδήλωση,
            σήμερα 9.12.2017 παρευρέθηκε στο Εμπορικό κέντρο της Έγκωμης παρουσιάζοντας χορευτικό πρόγραμμα!
          </p>
        </mat-card-content>
      
      </mat-card>
      
      <mat-card class="example-card">
          <mat-card-header>
            <div class="example-header-image"></div>
            <mat-card-title>Φεστιβάλ παραδοσιακών χορών</mat-card-title>
        
          </mat-card-header>
          <img mat-card-image src="../../assets/gallery_img/pic6.jpg" alt="XO">
          <mat-card-content>
            <p>
                Ο Χορευτικός Όμιλος συμμετείχε στο φεστιβάλ παραδοσιακών χορών που πραγματοποιήθηκε στο Πνευματικό Κέντρο Πολύβιος. Παρουσιάστηκε επετειακό χορόδραμα για την εισβολή του 1974 και πρόγραμμα Κυπριακών παραδοσιακών χορών. Στην εκδήλωση συμμετείχαν επίσης ο Χορευτικός Όμιλος Μεγαλόπολης, το Χορευτικό Συγκρότημα "Αρκαδιανή" και ο Σύλλογος Ποντίων Νίκαιας Κορυδαλλού. Μια εκδήλωση, η οποία πρόσφερε ξεχωριστές εμπειρίες που θα μείνουν αξέχαστες.</p>
            
              </mat-card-content>
        
        </mat-card>

</div>
