<mat-card>
<div fxLayout="row wrap" fxFlexAlign="center" fxLayout.xs="column">

  <button mat-raised-button  routerLink="Dance-Club">Χορευτικός Όμιλος</button>
  <button mat-raised-button  >Θεατρικός Όμιλος </button>
  <button mat-raised-button  >Δημοσιογραφικός Όμιλος</button>
  <button mat-raised-button  >Όμιλος Εθελοντισμού</button>
  <button mat-raised-button  >International Students' Club</button>
  <button mat-raised-button  >Κινηματογραφικός Όμιλος</button>
  <button mat-raised-button  >Όμιλος Κοινωνιολογίας και Κοινωνικής Κριτικής</button>
  <button mat-raised-button  >Όμιλος ΛΟΑΤ+ Φίλων Πανεπιστημίου Κύπρου</button>
  <button mat-raised-button  >Oμιλος Kαινοτομίας και Eπιχειρηματικότητας</button>
  <button mat-raised-button  >Όμιλος Ορθόδοξης και Ελληνικής Παράδοσης</button>
  <button mat-raised-button  >Όμιλος Τέχνη</button>
  <button mat-raised-button  >Όμιλος Φιλοσοφίας</button>
  <button mat-raised-button  >Όμιλος Νομικής</button>
  <button mat-raised-button  >Όμιλος Επιτραπέζιων Παιχνιδίων</button>
  <button mat-raised-button  >Κυπριακός Όμιλος Ενιαίας Εκπαίδευσης</button>
  <button mat-raised-button  >Περιβαλλοντικός και Φιλοζωϊκός Όμιλος</button>
  <button mat-raised-button  >Όμιλος Ψυχολογίας</button>
  <button mat-raised-button  >Όμιλος Πληροφορικής</button>
  <button mat-raised-button  >Μουσικός Όμιλος Τερψιχορίας</button>
  <button mat-raised-button  >Όμιλος Τούρκικων Σπουδών</button>
  <button mat-raised-button  >Ομιλος Αρχαιολογίας</button>
</div>
</mat-card>
