<mat-card>
<div fxLayout="row wrap" fxLayoutGap fxLayoutAlign="start center" fxLayout.xs="column">
  <mat-card class="club" fxFlex="20" fxFlex.xs="100"><a routerLink="Dance-Club">Χορευτικός Όμιλος"</a></mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Θεατρικός Όμιλος </mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Δημοσιογραφικός Όμιλος</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Εθελοντισμού</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">International Students' Club</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Κινηματογραφικός Όμιλος</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Κοινωνιολογίας και Κοινωνικής Κριτικής</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος ΛΟΑΤ+ Φίλων Πανεπιστημίου Κύπρου</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Oμιλος Kαινοτομίας και Eπιχειρηματικότητας</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Ορθόδοξης και Ελληνικής Παράδοσης</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Τέχνη</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Φιλοσοφίας</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Νομικής</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Επιτραπέζιων Παιχνιδίων</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Κυπριακός Όμιλος Ενιαίας Εκπαίδευσης</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Περιβαλλοντικός και Φιλοζωϊκός Όμιλος</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Ψυχολογίας</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Πληροφορικής</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Μουσικός Όμιλος Τερψιχορίας</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Όμιλος Τούρκικων Σπουδών</mat-card>
  <mat-card class="club" fxFlex="20" fxFlex.xs="100">Ομιλος Αρχαιολογίας</mat-card>
</div>
</mat-card>
