<mat-grid-list cols="3" rowHeight="6:1">
  <mat-grid-tile><button mat-button="b1">Χορευτικός Όμιλος </button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Θεατρικός Όμιλος </button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Δημοσιογραφικός Όμιλος</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Εθελοντισμού</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>International Students' Club</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Κινηματογραφικός Όμιλος</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Κοινωνιολογίας και Κοινωνικής Κριτικής</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος ΛΟΑΤ+ Φίλων Πανεπιστημίου Κύπρου</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>'Oμιλος Kαινοτομίας και Eπιχειρηματικότητας</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Ορθόδοξης και Ελληνικής Παράδοσης</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Τέχνη</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Φιλοσοφίας</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Νομικής</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Επιτραπέζιων Παιχνιδίων</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Κυπριακός Όμιλος Ενιαίας Εκπαίδευσης</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Περιβαλλοντικός και Φιλοζωϊκός Όμιλος</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Ψυχολογίας</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Πληροφορικής</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Μουσικός Όμιλος Τερψιχορίας</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Όμιλος Τούρκικων Σπουδών</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>Ομιλος Αρχαιολογίας</button></mat-grid-tile>

</mat-grid-list>
<base href="/">


