<!--User will click "Add product" from a product-card, and the same product will appear
in products-in-cart, as product-in-cart-->

<mat-card class="product-in-cart">

  <div fxFill>
    <!--UPPER PART-->
    <div fxFlex="30" fxFill>
      <img fxFill class="product_image" mat-card-image src="{{ item.info.imageSrc }}" alt="Photo of a product">
    </div>
    <!--SECOND PART-->
    <div fxFlex="60" fxFill>
      <div fxFill>{{ item.info.title }}</div>
      <div fxFill>{{ item.info.price }}€</div>
    </div>
    <!--THIRD PART-->
    <div fxFlex="10" fxLayout="column">
        <button fxFlex="33" mat-button (click)="removeItem(item)" >x</button>
        <button fxFlex="33" mat-button (click)="increaseQuantity()">+</button>
        <input type="text" disabled="disabled" class="form-control"  [(ngModel)]="quantity" required/>
        <button fxFlex="33" mat-button (click)="decreaseQuantity()">-</button>
    </div>
  </div>
</mat-card>
