img{
  margin-top: 10px;
  margin-left: 3px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;

}

.mat-list-item{
  text-align: center;
}
.label{
  font-weight: bold;
  text-align: center;
}

.madcard1{
  width: 350px;
  height: 400px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
}

mat-card{
  text-align: center;
}
