<mat-toolbar>Contact Us </mat-toolbar>
<p> We are incredibly responsive to your requests and value</p>
<p> your questions. Please fill out the quick form below and</p>
<p>we will be in touch with lighting speed.</p>

<div class="label">
  <h1>
    Get In Touch With Us
  </h1>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Full Name*"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Email*"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Subject"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter Message">
  </mat-form-field>
  <button mat-raised-button="" button>Send</button>

</form>

<mat-list role="list">

  <mat-list-item role="listitem">Contact Number:</mat-list-item>
  <p>Γραφείο Συντονιστικής Επιτροπής Ομίλων : 22894036  </p>

  <mat-list-item role="listitem">Address:</mat-list-item>
  <p>Λεωφ. Πανεπιστημίου 1 ,2109 Αγλαντζιά, Λευκωσία</p>

  <mat-list-item role="listitem">Mail us on:</mat-list-item>

  <a href="mailto: seoucy@gmail.com "> seoucy@gmail.com </a>


  <mat-list-item role="listitem">Our media support:</mat-list-item>
  <a href="https://www.facebook.com/ucyclubs/?fref=ts "><img src="../../assets/gallery_img/facebook-logo.png" style="width:30px; height:30px" title="fb ucy clubs" alt="Facebook"></a>
  <a href="https://twitter.com/ucy_clubs"><img src="../../assets/gallery_img/twitter-logo.png" style="width:30px; height:30px" title="twitter ucy clubs" alt="Twitter"></a>

</mat-list>


