<mat-card>
    <p> We are incredibly responsive to your requests and value</p>
    <p> your questions. Please fill out the quick form below and</p>
    <p>we will be in touch with lighting speed.</p>
    
    <div class="label">
      <h1>
        Get In Touch With Us
      </h1>
    </div>
  <mat-card class="madcard1">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Full Name*"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Email*"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Subject"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Message">
      </mat-form-field>
      <button mat-raised-button="" button>Send</button>

    </form>

  </mat-card>




    <mat-card>
    <mat-list role="list">

      <p>Contact Number:</p>
      <p>Γραφείο Συντονιστικής Επιτροπής Ομίλων : 22894036  </p>

      <p>Address:<p>
      <p>Λεωφ. Πανεπιστημίου 1 ,2109 Αγλαντζιά, Λευκωσία</p>

      <p>Mail us on:<p>
      <a href="mailto: seoucy@gmail.com "> seoucy@gmail.com </a>


      <p>Our media support:<p>
      <a href="https://www.facebook.com/ucyclubs/?fref=ts "><img src="../../assets/gallery_img/facebook-logo.png" style="width:30px; height:30px" title="fb ucy clubs" alt="Facebook"></a>
      <a href="https://twitter.com/ucy_clubs"><img src="../../assets/gallery_img/twitter-logo.png" style="width:30px; height:30px" title="twitter ucy clubs" alt="Twitter"></a>
    
    </mat-list>

    </mat-card>
</mat-card>

