button {
  margin: 20px 50px 10px 20px;
  background-color: darkgrey;
}
#name{
  border-left: 3px blue;
}
mat-selection-list{
  width: 46%;
}
p{
  border-bottom: 2px solid black;
  padding: 10px 20px 3px 20px;
  margin-right: 5px;
  margin-left: 3px;
}

.vote{
  float: left;
}
