  <div #vote>
    <h3>Make your vote</h3>

    <mat-selection-list  #hours [(ngModel)]="selectedOptions" (ngModelChange)="onVote($event)">
      <div *ngFor="let dance of danceClasses">

        <div id="name">
          <p>{{dance.name}}:</p>

          <mat-list-option *ngFor="let avail of dance.availDays" [value]="{name: dance.name, availDays: avail}">
            {{avail.day}} at {{avail.hours+9}}:00 - {{avail.hours+9}}:59
          </mat-list-option>
        </div>
      </div>
    </mat-selection-list>

    <p>
      Selected: {{ selectedOptions | json }}
    </p>

    <button mat-raised-button (click)="onClickMe()">Submit vote</button>
  </div>



