  <div #vote *ngIf="curProfile.voted; then alreadyVote; else voteNow">
  </div>

  <ng-template #voteNow>
    <mat-card>
      <mat-card-title>Make your vote</mat-card-title>

    <mat-selection-list  #avhours [(ngModel)]="selectedOptions" (ngModelChange)="onVote($event)">
      <div *ngFor="let dance of danceClasses">

        <div id="name">
          <p>{{dance.name}}:</p>

          <mat-list-option *ngFor="let avail of dance.availDays" [value]="{name: dance.name, availDays: avail}">
            {{avail.day}} at {{avail.hours+9}}:00 - {{avail.hours+9}}:59
          </mat-list-option>
        </div>
      </div>

    </mat-selection-list>
    <button mat-raised-button (click)="onClickMe()">Submit vote</button>
    </mat-card>
  </ng-template>

    <ng-template #alreadyVote> Your vote will be considered. Thanks
    for voting</ng-template>



