<mat-card class="content">
    <p> We are incredibly responsive to your requests and value</p>
    <p> your questions. Please fill out the quick form below and</p>
    <p>we will be in touch with lighting speed.</p>
    
    <div class="label">
      <h1>
        Get In Touch With Us
      </h1>
    </div>
    <mat-card>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Full Name*"></textarea>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Email*"></textarea>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Subject"></textarea>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Message">
            </mat-form-field>
            <button mat-raised-button="" button>Send</button>
          
          </form>

    </mat-card>
   
    
    <mat-list role="list">
    
      <p>Contact Number:</p>
      <p> Πρόεδρος Χορευτικού Ομίλου: (+357) 99 070447  </p>
    
      <p>Address:<p>
      <p>Λεωφ. Πανεπιστημίου 1 ,2109 Αγλαντζιά, Λευκωσία</p>
    
      <p>Mail us on:<p>
    
      <a href="mailto:danceclubucy@gmail.com ">danceclubucy@gmail.com</a>
    
    
      <p>Our media support:<p>
      <a href="https://www.facebook.com/danceclubucy/ "><img src="../../assets/gallery_img/facebook-logo.png" style="width:30px; height:30px" title="fb dance club" alt="Facebook"></a>
      <a href="https://www.instagram.com/danceclubucy/?hl=en"><img src="../../assets/gallery_img/insta-logo.png" style="width:30px; height:30px" title="insta dance club" alt="Instagram"></a>
    
    </mat-list>
    
    
    
</mat-card>
