<mat-toolbar>About Us</mat-toolbar>
<p>Οι <strong>Φοιτητικοί Όμιλοι</strong> έχουν ως κύρια αποστολή τους την προσφορά ευκαιριών και δράσεων προς τα μέλη της
Πανεπιστημιακής Κοινότητας αλλά και γενικά της τοπικής κοινότητας. Ως θεσμός λειτουργεί ως πρόσφορο έδαφος
  ενεργών φοιτητών που έχουν ως στόχο την προσωπική αλλά και συνολική εξέλιξη, μέσα από τα ενδιαφέροντα και ασχολίες τους.</p>
<p>Με την ένταξη σας στο Πανεπιστήμιο Κύπρου, μην χάσετε την ευκαιρία να γνωρίσετε τους Φοιτητικούς Ομίλους που θα
μπορέσουν να συμπληρώσουν την φοιτητική σας ζωή και να σας χαρίσουν αξέχαστες στιγμές. Η συμμετοχή σε Ομίλους παρέχει
τη δυνατότητα στους φοιτητές/τριες να ασχοληθούν με τα ενδιαφέροντά τους, πανεπιστημιακά ή και εξω-πανεπιστημιακά,
καθώς και χόμπι τους. Προάγοντας τον εθελοντισμό και την συμμετοχή, σαν Θεσμός αλλά και ο καθένας ξεχωριστά, καλύπτουν
ένα ευρύ φάσμα ενδιαφερόντων, όπως η μουσική, ο χορός, οι κοινωνικές υπηρεσίες, οι καλές τέχνες, η φωτογραφία,
  ο κινηματογράφος, ο αθλητισμός κ.τ.λ.</p>
 <p> Σαν μια ευκαιρία γνωριμίας, η <strong>Συντονιστική Επιτροπή Ομίλων ΠΚ</strong> διοργανώνει κάθε Σεπτέμβριο, την Βραδιά Ομίλων
κατά τη διάρκεια της οποίας έχετε την ευκαιρία να ενημερωθείτε για τις ενέργειες του κάθε ομίλου και να γίνετε
μέλη σε αυτούς. Μέσα από την συμμετοχή σας σε δράσεις των ομίλων μπορείτε να διασκεδάσετε, να μάθετε και να προσφέρετε.
Λαμβάνοντας μέρος σε δράσεις ομίλων εξελίσσεστε, αναπτύσσετε δεξιότητες και αναλόγως της δράσης σας παρέχεται
βεβαίωση συμμετοχής. Με την ενεργή σας συμμετοχή σε ομίλους ή και στα συμβούλια τους, το <strong>Γραφείο Φοιτητικής Ζωής</strong>
σας ετοιμάζει Πιστοποιητικά Συμμετοχής σε Ομίλους. Τα πιστοποιητικά αυτά ενισχύουν την εικόνα σας ως προς την αγορά
   εργασίας αλλά και σε αιτήσεις για μεταπτυχιακές σπουδές.</p>
<p>Σαν φοιτητές έχετε την ευκαιρία να γίνετε μέλη καθ' όλη τη διάρκεια των σπουδών σας, μέσω της εγγραφής σας σε Όμιλο
ή Ομίλους που σας εκφράζουν. Επιπρόσθετα, έχετε το δικαίωμα ίδρυσης ενός νέου που θα αντιπροσωπεύει κοινά ενδιαφέροντα
σας με άλλους φοιτητές. Σαν Θεσμός θεωρούμε ότι η ένταξη σας και η συμμετοχή σας σε δράσεις των Ομίλων ενισχύουν το
προφίλ σας, σας χαρίζουν αξέχαστες φοιτητικές στιγμές και μπορούν δημιουργήσουν φιλίες που θα κρατήσουν και μετά το
τέλος των σπουδών σας.</p>

<h3>Εκ μέρους των Φοιτητικών Ομίλων ΠΚ,
  η Συντονιστική Επιτροπή Ομίλων ΠΚ</h3>
