<!--User will click "Add product" from a product-card, and the same product will appear
in products-in-cart, as product-in-cart-->

<mat-card class="product-in-cart">

  <div fxFill>
    <!--UPPER PART-->
    <div fxFlex="30" fxFill>
      <img fxFill class="product_image" mat-card-image src="{{ info.imageSrc }}" alt="Photo of a product">
    </div>
    <!--SECOND PART-->
    <div fxFlex="60" fxFill>
      <div fxFill>{{ info.title }}</div>
      <div fxFill>{{ info.price }}</div>
    </div>
    <!--THIRD PART-->
    <div fxFlex="10" fxLayout="column">
        <button mat-button >x</button>
        <button mat-button >+</button>
        <input type="text" class="form-control"  [(ngModel)]="quantity" required/>
        <button mat-button >-</button>
    </div>
  </div>
</mat-card>