

<div fxLayout="row">
    <div class="menu-tabs2" fxFlex="10" fxLayout.xs="column">
        <nav fxLayout="column">
            <div class="currClub">
                <div class="clubTitle">Dance Club</div>
                <img with="100" height="100" src="assets/Logos/logoNew.png">
            </div>
            <button mat-raised-button class="enrollButton">Enroll!</button>
            <button mat-raised-button routerLink="About-us" routerLinkActive="active">About-Us</button>
            <button mat-raised-button routerLink="Gallery" routerLinkActive="active">Gallery</button>
            <button mat-raised-button routerLink="Vote" routerLinkActive="active">Vote</button>
            <button mat-raised-button routerLink="Contact-us" routerLinkActive="active">Contact-Us</button>
        </nav>
    </div>

    <div fxFlex="90">
        <router-outlet></router-outlet>
    </div>

</div>



