.picture{
  text-align: right;
}
.Title{
  text-align: center;
  color: gray;
  font-family:"Times New Roman",Times New Roman, serif;
}

.currClub{
  background-color: white;
  text-align: center;
  font-size:20px;
}
.enrollButton{
  background-color:rgb(108, 110, 131);
  color: white;
}

button:hover {
  background-color: gray;
}