
/* You can add global styles to this file, and also import other style files */
.ucyLogo{
  text-align: right;
}
.ucyLogoImg{
  height:100px;
}



/* Navigation link styles */
/*Meny bar -options*/
.menu-tabs nav button {
  padding: 5px 20px;
  color: white;
  font-size:20px;
  text-decoration: gray;
  margin-top: 10px;
  display: inline-block;
  background-color: gray;
  border-color:white;
}
.menu-tabs nav button:visited {
  font-family: "Times New Roman";
  font-size: large;
  color: white;
  text-align: center;
}
/*aman valeis to mouse panw*/
.menu-tabs nav button:hover {
  color: gray;
  background-color: white;
}
/*active button*/
.menu-tabs nav button.active {
  color: black;
  background: rgb(199, 192, 192);
}

.menu-tabs {
  font-size: 100%;
  position: relative;
  top: -3px;
}


.header{
  background-color:rgb(85, 66, 66);
}

.footer {
  height:50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(100, 91, 91);
  color: white;
}

.Title{
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Impact", "Charcoal", "sans-serif";
  text-align: center;
}