<!--The content below is only a placeholder and can be replaced.-->
<h1>Place a nice header here</h1>
<div class="menu-tabs">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/clubs" routerLinkActive="active">Clubs</a>
    <a routerLink="/news" routerLinkActive="active">News</a>
    <a routerLink="/e-shop" routerLinkActive="active">e-Shop</a>
    <a routerLink="/sign-up-log-in" routerLinkActive="active">Login-Singup</a>
  </nav>
</div>
<router-outlet></router-outlet>-c
<h1>Place a nice bottom header here</h1>
<!--Routed views go here-->
