<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row wrap" class="header" fx>
    <h1 class="Title" fxFlex="70">
      UCY STUDENTS CLUBS
    </h1>
    <div class="ucyLogo" fxFlex="30">
      <img class="ucyLogoImg" src="assets/Logos/SEOPK_transparent.png">
    </div>
</div>

<div class="menu-tabs">
  <nav fxLayout="row wrap" fxLayout.xs="column">
    <button mat-raised-button fxFlex="auto" routerLink="/home" routerLinkActive="active">Home</button>
    <button mat-raised-button fxFlex="auto" routerLink="/about-us" routerLinkActive="active">About us</button>
    <button mat-raised-button fxFlex="auto" routerLink="/clubs" routerLinkActive="active">Clubs</button>
    <button mat-raised-button fxFlex="auto" routerLink="/news" routerLinkActive="active">News</button>
    <button mat-raised-button fxFlex="auto" routerLink="/e-shop" routerLinkActive="active">e-Shop</button>
    <button mat-raised-button fxFlex="auto" routerLink="/contact-us" routerLinkActive="active">Contact us</button>
    <button mat-raised-button fxFlex="auto" routerLink="/sign-up-log-in" routerLinkActive="active">Login/Singup</button>
  </nav>
</div>
<p>

</p>
<router-outlet></router-outlet>
<p>

</p>
<div fxLayout="row wrap" fxLayoutAlign="center center" class="footer" fx>
     © 2018 www.ucy.ac.cy All Rights Reserved
    <a href="https://www.facebook.com/ucyclubs/?fref=ts "><img src="../../assets/gallery_img/facebook-logo.png" style="width:30px; height:30px" title="fb ucy clubs" alt="Facebook"></a>
    <a href="https://twitter.com/ucy_clubs"><img src="../../assets/gallery_img/twitter-logo.png" style="width:30px; height:30px" title="twitter ucy clubs" alt="Twitter"></a>
  
</div>
<!--Routed views go here-->
