.picture{
  text-align: right;
}
.Title{
   text-align: center;
  color: chocolate;
   font-family:"Comic Sans MS", Comic Sans MS, serif;
 }

html, body { height: 100%; }
body {
  background-image: url("../assets/Backgrounds/background.jpg");
  background-repeat: repeat-x;
  background-size:auto;
  margin: 0;
}
/* Master Styles */

.menu-tabs a {
  cursor: pointer;
  cursor: hand;

}
.menu-tabs button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
.menu-tabs button:hover {
  background-color: #cfd8dc;
}
.menu-tabs button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
.menu-tabs nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.menu-tabs nav a:visited, a:link {
  color: #607D8B;
}
.menu-tabs nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
.menu-tabs nav a.active {
  color: #039be5;
}

/* items class */
.menu-tabs .items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding-left: 0;
  width: 10em;
}
.menu-tabs .items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em;
  height: 1.6em;
  border-radius: 4px;
}
.menu-tabs .items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.menu-tabs .items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.menu-tabs .items .text {
  position: relative;
  top: -3px;
}

.menu-tabs .items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em;
  height: 1.6em;
  border-radius: 4px;
}

.menu-tabs .items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.menu-tabs .items li.selected {
  background-color: #CFD8DC;
  color: white;
}
